@import url('/assets/styles/burger.css');
@import url('/assets/styles/slider.css');

:root {
  --main-color: #edeae5;
  --dark-color: #112D32;
  --header-color: #026670;
  --color-black: black;
  --color-light: #DEF2F1;
  --color-brown: #df9815;
  --padding-2: 2em;
  --padding-1: 1em;
  --padding-05: 0.5em;
  --title-font: 2rem/3rem 'Nunito', sans-serif;
  --basic-font: 1.2rem/2rem 'Nunito', sans-serif;
  --small-font: 1rem/1.6rem 'Nunito', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: inherit;
  color: inherit;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  transition: 0.5s;
}

a:hover {
  color: var(--color-brown);
  transition: 0.5s;
}

ul,
li,
ol {
  list-style: none;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  min-height: 100vh;
  font: var(--basic-font);
  background-color: var(--main-color);
}

.header, .footer {
  display: flex;
  padding: var(--padding-2);
  background-color: var(--header-color);
  color: #DEF2F1;
}

.header {
  height: 110px;
  align-items: center;
}

.header-nav, .footer-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  max-width: 1400px;
  width: 100%;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.contacts-item a {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  align-items: center;
}

.contacts-item img {
  width: 24px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 1400px;
}

.section {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: var(--padding-1);
  width: 100%;
  max-width: 1400px;
}

.profile {
  position: relative;
  align-items: center;
  flex-wrap: wrap;
  z-index: 1;
}

.profile-photo {
  width: 10em;
  height: 10em;
  border: 0.5rem solid var(--header-color);
  outline: 0.5rem solid var(--main-color);
  border-radius: 5em;
}

.profile-photo img {
  width: 100%;
  height: 100%;
  border-radius: 10rem;
}

.profile-photo::after,
.profile-photo::before {
  content: '';
  position: absolute;
  left: 5rem;
  width: calc(100% - 6rem);
  height: 0.6rem;
  background-color: var(--dark-color);
  z-index: -1;
}

.profile-photo::after {
  top: 12.5rem;
}

.profile-photo::before {
  top: 1rem;
}

.main-title {
  font: var(--title-font);
  color: var(--header-color);
  text-align: center;
}

.main-subtitle {
  text-align: center;
}

.main-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 0 var(--padding-1);
  width: 100%;
  height: 70rem;
}

.main-content .section {
  flex-direction: column;
  align-items: center;
  gap: 1em;
  width: 50%;
}

.main-content .section:nth-child(2n) {
  order: 1;
}
.main-content .section:last-child {
  order: 1;
}

.section-title {
  font: var(--title-font);
  padding: 0 var(--padding-1);
  border-bottom: 2px solid var(--dark-color);
  color: var(--dark-color);
  text-align: center;
}

.skills-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--padding-1);
}

.skills-item {
  padding: var(--padding-05) var(--padding-1);
  border-radius: 0.5rem;
  background-color: var(--dark-color);
  color: var(--color-light);
  opacity: 0.8;
}

.education-list {
  display: flex;
  flex-direction: column;
  gap: var(--padding-05);
}

.education-title {
  font-weight: bold;
}

.education-dates {
  font: var(--small-font);
  font-style: italic;
  color: var(--color-brown);
}

.sertificates-list li, .projects-list li {
  display: flex;
  align-items: center;
  gap: var(--padding-1);
  padding-bottom: 0.5rem;
}

.certificate-title, .project-title {
  font-weight: bold;
  color: var(--color-brown);
}

.svg-link {
  display: block;
  width: 1.6rem;
  height: 1.6rem;
  min-width: 1.6rem;
  background-image: url(./assets/icons/github.svg);
  background-size: contain;
  transition: all 0.5s ease;
}

.svg-link:hover{
  filter: brightness(0) saturate(100%) invert(55%) sepia(64%) saturate(487%) hue-rotate(0deg) brightness(93%) contrast(93%);
}

.js-icon {
  background-image: url(./assets/icons/js.svg);
}

.react-icon {
  background-image: url(./assets/icons/react.svg);
}

.certificate-icon {
  background-image: url(./assets/icons/certificate.svg);
}

.footer-container {
  justify-content: space-between;
}

@media screen and (max-width: 1080px) {
  .profile {
    justify-content: space-evenly;
    gap: var(--padding-2);
  }

  .profile-photo {
    margin-left: calc(50% - 5em);
    margin-right: calc(50% - 5em);
  }

  .profile-photo::before {
    content: none;
  }
  .profile-photo::after {
    width: calc(100% - 2rem);
    top: 14rem;
    left: 1rem;
  }

  .main-content {
    height: 80rem;
  }
}

@media screen and (max-width: 768px) {
  .header {
    justify-content: flex-end;
  }

  .header-nav {
    position: fixed;
    top: 0;
    right: -100%;
    width: 620px;
    height: 100%;
    background-color: var(--dark-color);
    z-index: 4;
    transition: right 0.6s ease 0s;
  }

  .header-nav.open {
    right: 0;
    overflow: scroll;
  }

  .nav-list {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 4em;
    padding-top: 4em;
    font-size: 2em;
    gap: 1em;
  }

  .dark {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
  }

  .header-nav.open~.dark {
    visibility: visible;
    opacity: 1;
    transition: all 0.5s;
  }

  .main-content {
    flex-wrap: nowrap;
    height: auto;
  }

  .main-content .section {
    width: auto;
    order: 0 !important;
  }

}

@media(max-width: 620px) {
  .header-nav {
    width: 100%;
  }
}

@media(max-width: 480px) {
  :root {
    --title-font: 1.6rem/2.4rem 'Nunito', sans-serif;
    --basic-font: 1rem/1.6rem 'Nunito', sans-serif;
  }

  .nav-list {
    padding-left: 3em;
    padding-top: 5em;
    font-size: 1.6em;
    line-height: 48px;
    gap: 16px;
  }

  .profile-photo::after {
    top: 12rem;
  }

  .sertificates-list li, .projects-list li {
    justify-content: space-between;
  }
}